:root{
--prime-color: #145672;
--second-color: #DDF4FF;
--text: #000000;
--white: #FFFFFF; 

}
body {
font-family: 'League Spartan';

}

.container{
    padding:0 10px;
margin: 0 auto;
}

li{
    text-decoration: none;
    list-style: none;

}
h2{
    margin: 0;
}

.logo{
    width:200px;
    height: 85px;
    padding-left: 45px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.header{
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second-color)
}
.header-box{
    color: var(--prime-color);
    display: flex;
    flex-wrap: wrap;

}
.header-box-list{
    margin-right: 80px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.5;
    
}
.header-btn{
    margin-right: 80px;
    background-color: var(--second-color);
    color: var(--prime-color);
    width: 105px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 4px;
    border-color: var(--white);
    justify-content: center;
    align-items: center;
}
.header-btn:hover,
.header-btn:focus{
    background-color: var(--prime-color);
    color: var(--white);

}
.header-text{
    list-style: none;
    text-decoration: none;
    color: var(--prime-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5;
}
/* about */
.about{
    width: 100%;
    margin: 0 auto;
    padding-top: 65px;
    padding-left: 70px;
    height: 700px;
    background-image: url(../img/hero.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-section{
    font-size: 80px;
    line-height: 108px;
    color: var(--prime-color);
}
.about-btn{
    background-color: var(--prime-color);
    color: var(--second-color);
    width: 305px;
    height: 45px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 4px;
    border: none;
}
.about-text{
    width: 305px;
    font-weight: 600;
    
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
}
/*  features  */

.features{

    height: 800px;

    border-left: 0px solid transparent;
    border-right: 100px solid transparent;
    background-image: url(/img/about.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--second-color);
}

.features-section{
padding-top: 200px;
padding-left: 800px;
padding-right: 80px;
font-size: 40px;
line-height: 1.5;
text-align: center;
color: var(--prime-color);

}
.features-list{
padding-left: 800px;
padding-right: 80px;
font-size: 35px;
line-height: 1.5;
text-align: center;
color: var(--text);
}
.features-text{
padding-left: 800px;
padding-right: 80px;
font-size: 25px;
line-height: 1.0;
text-align: center;
color: var(--text);
}