
.about{
    height: 600px;
    background-image: url(../img/about320.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--second-color);

    @media screen and (min-width:768px){
    background-image: url(../img/about768.jpg);
    
    }
    @media screen and (min-width:1200px) {
    background-image: url(../img/about.jpg);
    height: 900px;
    
    }
}

.about-section{
    width: 100%;
    margin-top: 15px;
    
    @media screen and (min-width:768px){
    margin-top: 25px;
    width: 430px;
        
    }
    @media screen and (min-width:1200px) {
    width: 620px;
    margin-top: 65px;
    
    }
}

.about-title{
    text-align: center;
    color: var(--prime-color);

    @media screen and (min-width:768px){
    
    font-size: 35px;
    line-height: 1.2;
    }
    @media screen and (min-width:1200px) {
    font-size: 45px;
    line-height: 1.5;
    
    }
}
